.home_layout{
    padding: 0.2rem;
}

.home_title{
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: 700;
    padding: 10px;
    color: #3f3f3fde;
}

.home_banner {
    position: relative;
    width: 100%;
    height: 250px;
    display: block;
}
@media(min-width: 600px){
    .home_banner{
        height: 50vh;
    }
}

.home_img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
