.card {
    background-color: #fbf6f6;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgb(0, 0, 0, 0.3);
    transition: transform 0.3s;
}

.card:hover{
    transform: scale(1.02);
}

.card_imagem {
    width: 100%;
    display: block;
}

.card_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.card_title{
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 600;
}

.card_call{
    background-color: rgb(0, 0, 117);
    border-radius: 12px;
    padding: 8px;
    color: #f1f1f1;

    
}