.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 1rem;
    padding: 1rem;
}
@media(min-width:400px){
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@media(min-width:800px){
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}
@media(min-width:1000px){
    .grid{
        grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}